body{
    margin:0px;
}

.Header{
    background-color: yellow;
    height:60px;
    width:1535px;
    position: absolute;
    top:0px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}

nav{
    margin: 0 10px;
}

.Numbers{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    gap:10px;
    margin-right: 10px;
}

.Search-bar{
    width:250px;
    border-radius: 25px;
    height: 30px;
    border:1px solid white;
    padding: 3px 8px;
}

.Search-bar:focus{
    border:1px solid white;
}

.grid-elements{
    display: grid;
    grid-template-columns: minmax(200px,1fr);
    gap:16px;
}